<a href="https://colab.research.google.com/github/iabhi009/Random-Forest-on-titanic-dataset/blob/master/Random_forest_on_Titanic_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Random Forest on Titanic Dataset
 Author: Abhishek Pathak

In [0]:
# Basic Utilities
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
# For Label Encoding
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 

# For Printing Accuracy of our prediction
from sklearn.metrics import accuracy_score
# For Importing the Random Forest Classifier 
from sklearn.ensemble import RandomForestClassifier

Now We will import our data

In [0]:
train = pd.read_csv("train.csv")
survived = pd.read_csv("gender_submission.csv")
test = pd.read_csv("test.csv")

After importing the next Step is pre processing
we will pre process in the following order

In [0]:
# Pre Processing

#Checking for NULL values
print(train.info())
#print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [0]:
'''
Age            714 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
They have missing values

'''
# We replace the Null values with mean of the particualr column
train = train.fillna(train.mean())
test = test.fillna(test.mean())
# basically, fill ages with mean of all ages

In [0]:
'''
# Label Encoding

source -> https://www.geeksforgeeks.org/ml-label-encoding-of-datasets-in-python/
As we know computer can only understand numbers and not strings.
so sex like 'male' and 'female' would hard for the computer to decide

hence we will change it into features 
the numbering depends upon which features comes first
1- male
0- female
'''
print(train['Sex'].unique()) 
train['Sex']= label_encoder.fit_transform(train['Sex']) 
print(train['Sex'].unique())
test['Sex']= label_encoder.fit_transform(test['Sex'])

['male' 'female']
[1 0]

In [0]:
'''
Feature Selection

Deciding what all features to be used in our datset.
As we can see Name  , Ticket , Cabin , Embarked have string type

'''
print("Original features:")
print(train.columns)

Original features:
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [0]:
'''
Lets removing features we don't want
# Backward Selection

let's remove all the colums that have string values
or are not a feature 
'''
#Name
train.drop(columns=["Name"],inplace= True)
test.drop(columns=["Name"],inplace=True)
#Ticket
train.drop(columns=["Ticket"],inplace= True)
test.drop(columns=["Ticket"],inplace=True)
#Cabin
train.drop(columns=["Cabin"],inplace= True)
test.drop(columns=["Cabin"],inplace=True)
#Embarked
train.drop(columns=["Embarked"],inplace= True)
test.drop(columns=["Embarked"],inplace=True)

In [0]:
print(train.columns)
print(test.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [0]:
'''
Now Let's Split our Data base into
train - all the featues of our traing dataset
train_result - traing dataset result
test - all the features of our testing dataset
test_original - original result for testing accuracy
test_prediction - our predicted result
'''

train_result = train["Survived"]
train.drop(columns=["Survived"],inplace= True)
print("Traing Features:")
print(train.columns)
print("Testing Features:")
print(test.columns)
test_original = survived["Survived"].to_numpy()

Traing Features:
Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')
Testing Features:
Index(['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

Now our Actual Implementation

In [0]:
''' 
Creating a model using RandomForestClassifier library
'''
model = RandomForestClassifier(n_jobs=2, random_state=0)
# Don't ask me what those parameters does....study theory for details

In [0]:
# Traing our Model
# To train our model we will give it the training features 
# with correct answers
# More of like teaching a student by showing him images that the image is cat or dog
model.fit(train, train_result)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [0]:
# Getting Predictions
# take a suprise test by showing it new features which it was'nt trained upon
# and asking our model what he thinks those features mean
test_predict=model.predict(test)

In [0]:
print(test_predict)

[0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 0 1 1 1 0 1 0 1 0 1 0 0 0 0 0 1 0 0
 0 0 0 0 1 0 1 1 0 1 0 1 0 1 0 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 0 1 1 0 0 0 1
 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 0 0 0 1 0 1 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 1 1 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 1 0
 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 1 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 0 0
 0 0 1 0 1 0 0 1 0 0 0]

In [0]:
# Comparing Accuracy
print("Accuracy:",accuracy_score(test_predict,test_original)*100)
print("Error Rate",100-(accuracy_score(test_predict,test_original)*100))

Accuracy: 78.4688995215311
Error Rate 21.5311004784689

In [0]:
# Comparing output side by side
view = 10
for x in range(view):
    l=""
    if test_predict[x] != survived["Survived"].iloc[x]:
        l="False"

    print(survived["PassengerId"].iloc[x],test_predict[x] ,survived["Survived"].iloc[x],' - ',l)

892 0 0  -
893 0 1  -  False
894 0 0  -
895 0 0  -
896 0 1  -  False
897 0 0  -
898 0 1  -  False
899 0 0  -
900 1 1  -
901 0 0  -
902 0 0  -
903 0 0  -
904 1 1  -
905 0 0  -
906 1 1  -
907 1 1  -
908 0 0  -
909 0 0  -
910 0 1  -  False
911 0 1  -  False

In [0]:
 '''
 Now let's have fun around
 Go to backward selection part and drop fare ( cost of ticket)
 and re run the model . you'll find the accuracy to drop by 2-3%

 which means that the cost of the ticket also played a role in the survival of the people

 possible the richer people had better access to boat

 that's why approach of correlation should be taken into consideration at the start of 
 any problem


 Go to https://www.kaggle.com/c/titanic/notebooks
 to find different peoples approach of the same problem with better accuracy
 '''

"\nNow let's have fun around\nGo to backward selection part and drop fare ( cost of ticket)\nand re run the model . you'll find the accuracy to drop by 2-3%\n\nwhich means that the cost of the ticket also played a role in the survival of the people\n\npossible the richer people had better access to boat\n\nthat's why approach of correlation should be taken into consideration at the start of \nany problem\n\n\nGo to https://www.kaggle.com/c/titanic/notebooks\n"

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive